{% extends 'base.html' %}
{% load static %}
{% load humanize %} 

{% block content %}
<!-- {{ full_post }} -->

<section class="content-header">
	<div class="container-fluid">
		<div class="row">
			<div class="post border border-primary text-left  col-8" style="border-radius: 10px;">
				<div class="user-block mt-1">
					{% if post.posted_by.profile.profile_pik.url is not None %}
					<img class="img-circle img-bordered-sm" src="{{post.posted_by.profile.profile_pik.url}}" alt="{{post.posted_by.username|capfirst}}">
					{% else %}
					<img class="img-circle img-bordered-sm" src="{% static 'images/images.jpg' %}" alt="{{post.posted_by.username|capfirst}}">
					{% endif %}
					<span class="username">

						{% if post.posted_by == user %} You {% else %} <a href="#">{{ post.posted_by.username|capfirst }} {{ post.posted_by.last_name|capfirst }} {{ post.posted_by.first_name|capfirst }}</a>{% endif %}
						<br>
						<a href="{% url 'posts:single_post' post.id %}">{{ post.title|capfirst|truncatechars:200 }}</a>

						<div class="float-right">
							<a href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class=" bg-secondary btn-tool border" style="border-radius: 20px;"><i class="fas fa-ellipsis-h"></i></a>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								{% if post.posted_by == user %}
								<a class="dropdown-item btn"><i class="fa fa-edit"></i> Edit</a>
								<a class="dropdown-item btn" data-url="{% url 'posts:deletepost' %}" onclick="deletePost({{post.id}})"><i class="fas fa-minus-circle"></i> Delete</a>
								{% endif %}
								<a href="{% url 'posts:single_post' post.id %}" class="dropdown-item btn"><i class="fas fa-info-circle"></i> Details</a>
							</div>
						</div>
					</span>
					<span class="description">{{ post.posted_on|naturaltime }}</span>
				</div>
				<!-- /.user-block -->
				<div>
					{{ post.body|safe|truncatewords:20|linebreaks }}
				</div>
				{% if post.Image %}
				<img src="{{ post.Image.url }}" width="100%" class="mb-1">
				{% elif post.video %}
				<video src="{{ post.video.url }}" controls width="100%"></video>
				{% else %}
				{% endif %}
				<p>
					<a class="btn bg-dark  text-sm" id="btnLikePost" data-url="{% url 'posts:likeapost' %}"  onclick="likepost({{ post.id }})"  data-id="{{ post.id }}">
						<i class="far fa-thumbs-up"> Like</i>
					</a>
					<span class="mx-2" id="postLikesTop{{ post.id }}"> {{ post.total_likes }} Like{{ post.total_likes|pluralize }}</span>
					<span class="float-right">
						<a class="text-sm btn">
							<i class="far fa-comments mr-1"></i> Comments (<span id="numNow">{{post.total_comments}}</span>)
						</a>
					</span>
				</p>

				<h3>Leave a comment.</h3>
				<form class="form-horizontal" id="formforComment" method="POST" action="{% url 'posts:comment_post' post.id %}">
					{% csrf_token %}
					<div class="input-group input-group-sm mb-0">
						<textarea class="form-control form-control-sm" style="resize: none;" name="body" placeholder="Response"></textarea>
						<div class="input-group-append">
							<button type="submit" class="btn btn-danger"><i class="fas text-lg fa-paper-plane"></i></button>
						</div>
					</div>
				</form>


				<!-- comments -->
				<div id="commentSection">
					 {% for comm in comments reversed %}
                <div class="direct-chat-msg " id="commentbox{{ comm.id }}">
                    <div class="direct-chat-infos clearfix ml-5">
                        {% if user.id == comm.comment_by.id %}
                        <span class="direct-chat-name">You</span>
                        {% else %}
                        <span class="direct-chat-name">{{ comm.comment_by.username|capfirst }} {{ comm.comment_by.last_name|capfirst }}</span>
                        {% endif %}
                    </div>
                    <!-- /.direct-chat-infos -->
                    {% if comm.comment_by.profile.profile_pik %}
                    <a href="{{ comm.comment_by.profile.profile_pik.url }}" target="_blank">
                        <img src="{{ comm.comment_by.profile.profile_pik.url }}"
                             alt="{{ comm.comment_by.username|capfirst }}" class="direct-chat-img">
                    </a>
                    {% else %}
                    <img class="direct-chat-img" src="{% static 'images/images.jpg' %}"
                         alt="{{ comm.comment_by.username|capfirst }}">
                    {% endif %}

                    <!-- /.direct-chat-img -->
                    <div class="direct-chat-text mb-1">
                        <h6 class="direct-chat-timestamp text-right"><span
                                class="mr-3">{{ comm.comment_on|naturaltime }}</span>
                            <!-- <i class="fa fa-reply" onclick="openreply({{ comm.id }})"></i> -->
                        </h6>

                        <div class="">
                            <a href="" class="text-dark">{{ comm.comment_body|capfirst|linebreaksbr }}</a>
                        </div>
                        <h6 class="text-right">{% if comm.comment_by == user %}
                            <button type="button" id="commentDelete_{{ comm.id }}" data-url="{% url 'posts:deleteacomment' %}" class="btn mr-1 text-light btn-sm btn-danger"
                                    onclick="deleteCommentNow({{ comm.id }}, {{ post.id }})"><i
                                    class="fa fa-trash fa-sm"></i></button>
                            {% endif %}
                            <button class="btn btn-dark btn-sm" onclick="likeComment({{ comm.id }})"><i  class="far fa-thumbs-up mr-2 text-info"></i> 
                            	<span id="commentLikes_{{ comm.id }}" data-url="{% url 'posts:likeacomment' %}" >{{ comm.total_likes }} Like{{comm.total_likes|pluralize}}</span>
                            </button>
                        </h6>
                    </div>
                </div>
                {% empty %}
                	<h2 class="text-center text-muted p-5">-No comments yet-</h2>
                {% endfor %}


				</div>
			</div>








			<div class="col-3 offset-1 px-3 card h-100 w-100 layout-fixed hold-transition " >
				<h5 class="text-info text-center py-2"> <i class="fas fa-info-circle text-primary"></i> About 
					{% if post.posted_by == user %} you {% else %}
				{% if post.posted_by.profile.role is not None %} this {{post.posted_by.profile.get_role_display|capfirst}}-{% endif %}{{post.posted_by.username|capfirst}}{% endif %}</h5>
				{% if post.posted_by.profile.profile_pik.url is not None %}
				<img class="img-circle img-bordered-sm" src="{{post.posted_by.profile.profile_pik.url}}" alt="{{post.posted_by.username|capfirst}}">
				{% else %}
				<img class="img-circle img-bordered-sm" src="{% static 'images/images.jpg' %}" alt="{{post.posted_by.username|capfirst}}">
				{% endif %}

				<ul class="list-group list-group-unbordered my-3">
					<li class="list-group-item">
						<b>Full name: </b> <a class="float-right">{{ post.posted_by.first_name|capfirst }} {{ post.posted_by.last_name|capfirst }}</a>
					</li>
					<li class="list-group-item">
						<b>Role: </b> <a class="float-right">{{ post.posted_by.profile.get_role_display|capfirst }} {{ post.user.last_name|capfirst }}</a>
					</li>
					<li class="list-group-item">
						<b>Joined: </b> <a class="float-right">{{ post.posted_by.date_joined|naturaltime}}</a>
					</li>
					<li class="list-group-item">
						<b>Email: </b> <a class="float-right">{{ post.posted_by.email}}</a>
					</li>
					<li class="list-group-item">
						<b>Contact: </b> <a class="float-right">{{ post.posted_by.profile.phone_number}}</a>
					</li>
					<li class="list-group-item">
						<b>Address: </b> <a class="float-right">{{ post.posted_by.profile.address|capfirst}}</a>
					</li>
					<li class="list-group-item">
						<b>Stars: </b> <a class="float-right">{{ post.posted_by.profile.total_stars|intword}}</a>
					</li>
					<li class="list-group-item">
						<b>Experience(yrs): </b> <a class="float-right">{{ post.posted_by.profile.years_of_experiance|intword}}</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>

{% endblock content %}


{% block script %}
<script>

	function likeComment(id){
		let url = $('#commentLikes_'+id).data('url')
		$.ajax({
			url: url,
			data: {
				"id": id,
			},
			type: 'GET',
			dataType: 'json',
			success: function(response){
				let myvar = ""
				if (response.countNow == 1) {
					myvar = "Like"
				}else{
					myvar = "Likes"
				}

				$('#commentLikes_' + id).text(response.countNow + ' ' + myvar)
			}
		})
	}


	function deleteCommentNow(id, forPost){
		let url = $('#commentDelete_'+id).data('url')
		$.ajax({
			url: url,
			data: {
				"id": id,
				"post_id": forPost
			},
			type: 'GET',
			dataType: 'json',
			success: function(response){
				if (response.result == "ok") {
					$('#numNow').text(response.countNow)
					$('#commentbox'+id).fadeOut('slow').remove()
				}

			}
		})
	}


$('#formforComment').on('submit', function(e) {
	e.preventDefault()

	let data = $(this).serialize()
	let url = $(this).attr('action')
	// alert(data + ' ' + url)
	$.ajax({
		url: url,
		data: data,
		type: 'POST',
		dataType: 'json',
		success: function(response){
			$('#numNow').text(response.new_num)
			$('#commentSection').load(location.href +' #commentSection')
			$('#formforComment').trigger('reset')
		}
	})
})
</script>

{% endblock script %}