{% extends 'basic.html' %} {% block content %}
<div class="login-box">
    <div class="login-logo">
        <a href="{% url 'posts:index' %}"><b>Yield</b>Up</a>
    </div>
    <!-- /.login-logo -->

    <div class="card">
        <div class="card-body login-card-body">
            <div class="alert d-none" id="message"></div>
            <p class="login-box-msg">We have received your request to change your password and sent you an email with a token on the email address you provided on the previous screen, enter that token below to proceed. That token will be valid for only 30 minutes from the time
                of its first issue</p>

            <form action="{% url 'profile:check_expiriration' %}" id="code_form" method="post">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <input type="number" minlength="10" id="code" maxlength="10" name="code" class="form-control" placeholder="Enter token">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-password"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-warning btn-block">Verify code</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            <p class="mt-3 mb-1">
                <a href="{% url 'posts:login' %}">Login</a>
            </p>
            <p class="mb-0">
                <a href="{% url 'posts:register' %}" class="text-center">Register a new membership</a>
            </p>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>
{% endblock content %} {% block script %}
<script>
    $("#code_form").submit(function(e) {
        e.preventDefault();
        url = $(this).attr('action');
        data = $("#code_form").serialize();
        code = $("#code").val();
        $.ajax({
            url: url,
            data: data,
            type: 'GET',
            success: function(res) {
                if (res.status) {
                    alert(res.message)
                    window.location.href = `/users/${code}/recover/`;
                } else {
                    alert(res.message)
                }
            }
        })
    })
</script>
{% endblock script %}